/* Box Model Hack */
* {
    box-sizing: border-box;
  }

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 62.5%
}

body {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
}

.bg-img {
    background-image: url(/images/Flag_of_Fiji.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    position: relative;
    isolation: isolate;
}

.bg-img::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: #000;
    opacity: .8; 
}

h1,
.hdg-timer {
    font-family: 'Domine', serif;
    font-weight: normal;
    line-height: 60px;
}

h1 {
    font-size: 5rem;
    margin: -150px 0 40px;
    vertical-align: bottom;

}

.hdg-timer {
    font-size: 3rem;
    text-align: center;
    vertical-align: top;
}

.fiji {
    color: lightskyblue;
}

/******************************************
/* LAYOUT
/*******************************************/


.countdown {
    display: flex;
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 12px;
}

.time h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    margin: 0 0 5px; 
}

.time small {
    font-size: 1.5rem;
}

@media(max-width: 500px) {

    h1 {
        font-size: 3rem;
        line-height: 35px;
    }
    .hdg-timer {
        font-size: 1.5rem;
        line-height: 25px;
    }
    .time {
        margin: 5px;
    }

    .time h2 {
        font-size: 1.5rem;
    }

    .time small {
        font-size: 1rem;
    }
}